@import 'colors.scss';
@import 'sizes.scss';

article {
  /* Space */
  padding: $container-padding;

  /* Classes */
  .title {
	margin-top: 0;
	margin-bottom: 0.75em;
	font-size: $article-font-size;
  }

  .text {
	font-size: $normal-font-size;
	text-align: justify;
	margin: 0 $right-margin;
  }

  &:nth-child(even) {
	@include back-in-black
  }

  &:nth-child(odd) {
	@include front-in-black
  }
}