/* Paddings */
$container-padding: 3em; 

/* Margins */
$right-margin: 1em;

/* Font Sizes */
$normal-font-size: 14pt;
$subtitle-font-size: calc($normal-font-size + 8pt);
$article-font-size: calc($normal-font-size * 2);
$title-font-size: calc($normal-font-size * 3);
