/* Paddings */
$container-padding: 4%; 

/* Margins */
$right-margin: 25vmin;

/* Font Sizes */
$title-font-size: 4vmax;
$subtitle-font-size: 1.7vmax;
$article-font-size: 2.5vmax;
$normal-font-size: 1.2vmax;